@media only screen and (max-width: 600px) {
    .navbar {
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        display: block;
    }
    .navbar > div > a.mt-3 {
        margin-left: 130px;
    }
    .navbar > .search-navbar {
        padding: 0 40px;
    }
    .navbar > .search-navbar > .form-search {
        display: flex;
    }
    .navbar > .search-navbar > .form-search > input {
        width: 100%;
    }
    .navbar > .cart {
        padding-top: 20px;
        display: inline;
        float: left;
        margin-left: 40%;
        padding-bottom: 10px;
    }
    .navbar > .in-out {
        margin-right: 20%;
        padding-top: 20px;
        display: inline;
        float: right;
        padding-bottom: 10px;
    }
    .main {
        margin-top: 80px;
    }
    .products-in-cart {
        z-index: 3;
        transform: translate(50%, -10%);
    }
    .cart > .triangle {
        right: 0px;
        bottom: 1px;
    }
    .banner {
        display: none;
    }
}
