ol,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#wrapper {
    /* background-image: linear-gradient(to right, #f2994a, #f2c94c); */
    /* background-image: url("https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: rgba(194, 227, 191, 0.2); */
    background-color: rgba(1, 59, 59, 0.2);
    padding-top: 80px;
    /* padding-bottom: 50px; */
}

#nav {
    display: flex;
    /* justify-content: left;
    align-items: center;
    list-style: none;
    flex-basis: 80%; */
}
.logo {
    max-height: 55px;
    margin-left: 70px;
}

.search-navbar {
    flex-basis: 70%;
    padding-left: 30px;
}

.form-search > input {
    padding: 8px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 50%;
    font-size: 14px;
}
.form-search {
    display: flex;
}
.form-search:focus {
    border: none;
}
.form-search > button {
    padding: 8px 20px;
    border: none;
    background-color: #57b72f;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* .input-search:focus {
    box-shadow: none;
    border: none;
} */

.products-in-cart .null-cart {
    max-height: 200px;
    width: 400px;
    background-color: rgb(182, 242, 182);
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.new-navbar {
    display: flex;
    background-color: #232a34;
    align-items: center;
}

.cart {
    font-size: 110%;
    position: relative;
}
.cart > a {
    text-decoration: none;
    color: #fff;
}

.cart:hover .products-in-cart {
    display: block;
}
.cart:hover .triangle {
    display: block;
}
.cart > .triangle {
    right: 0px;
    bottom: -11px;
}
.triangle {
    display: none;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
}

.products-in-cart {
    position: absolute;
    top: 140%;
    right: -50%;
    display: none;
    width: 400px;
    height: auto;
    background-color: #ddd;
    box-shadow: 1px 5px 10px 3px #333;
    font-size: 90%;
}

.products-in-cart .products {
    list-style: none;
    padding: 10px 20px;
}
.products-in-cart .products > p {
    color: #aaa;
}
.products-in-cart .products .product {
    display: flex;
    margin-bottom: 20px;
}
.products-in-cart .products .product > img {
    vertical-align: top;
}
.products-in-cart .products .product > .name-phone {
    padding-left: 5px;
    flex-grow: 1;
    color: #222;
    font-size: 14px;
}
.products-in-cart .products .product .price-phone {
    font-size: 70%;
    color: #ee4e2e;
}

.in-out {
    padding-right: 20px;
    padding-left: 30px;
    flex-grow: 1;
}
.in-out > a {
    color: #e9b7b7;
    text-decoration: none;
    display: block;
    border: 1px solid #fff;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    width: 100px;
    padding: 5px 5px;
    text-align: center;
}
.logged {
    padding-left: 10px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.name {
    margin-left: 5px;
    color: #e8e23a;
}

.logged:hover .account {
    display: block;
}
.logged:hover .triangle {
    display: block;
    left: 30%;
    bottom: -40%;
}
/* .account::before {
    content: " ";
    display: block;
    position: absolute;
    right: 50px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
} */
.account {
    display: none;
    position: absolute;
    bottom: -110px;
    right: 0%;
    background-color: #eee;
    /* padding: 10px 0px; */
    width: 200px;
    box-shadow: 1px 5px 10px 3px #333;
}
.account > div > a {
    text-decoration: none;
    color: #333;
    padding: 5px 20px;
    display: block;
    font-weight: 300;
}
.account > div:hover a {
    background-color: #fff;
    color: #2c3685;
    font-weight: 500;
}

.signout {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: -5px;
    top: -5px;
}
.pr-0 {
    padding-right: 0;
}
.pr-1 {
    padding-right: 1px;
}
.banner img {
    width: 100%;
    margin-bottom: 5px;
}

.product-sale {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.product-sale li {
    width: 25%;
    margin-right: 5px;
}

.mt-3 {
    margin-top: 30px;
}
.pl-0 {
    padding-left: 0;
}
.mt-2 {
    margin-top: 20px;
}
.mr-5 {
    margin-right: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 10px;
}
.mt-3 {
    margin-top: 3px;
}

.social-media li {
    padding: 20px 10px 0px 0px;
}

.social-media li a {
    color: rgb(21, 21, 49);
}

.ml-2 {
    margin-left: 3px;
}

.infomation {
    list-style: none;
}
.infomation li {
    padding: 5px;
}
.infomation li a {
    padding: 5px;
    text-decoration: none;
}

.icon {
    display: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 150%;
    border: 1px solid #eee;
    padding: 2px 10px;
    border-radius: 5px;
}

.list-item {
    background-color: #eee;
    padding: 20px;
}

.bill {
    background-color: #eee;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.total {
    margin-right: 20px;
    font-size: 15px;
}

/*LOGIN , REGISTER */
.form form {
    width: 30%;
    /* margin: 210px auto; */
    padding: 20px 50px;
    background-color: #eee;
    border-radius: 5px;
}
.form input {
    border: none;
    margin-left: 3px;
}
.form textarea {
    border: none;
    resize: none;
}
.form {
    background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form legend {
    text-align: center;
}
.form i {
    margin-right: 10px;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register,
.redirectLogin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.register a,
.redirectLogin a {
    color: rgb(158, 27, 27);
    margin-left: 5px;
}
.login,
.btnRegister {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: wheat;
    border-radius: 20px;
    margin-top: 50px;
}
/*PRODUCTS*/
.carousel-item > img {
    width: 100%;
    height: 298px;
}
.category {
    font-weight: bold;
    line-height: 30px;
    font-size: 16px;
}
.products {
    padding: 10px;
    background-color: #fff;
}

a.phone {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 90%;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    margin: 0 auto;
}
a.phone img {
    display: block;
    height: 150px;
    width: 130px;
    margin: 0 auto;
}

a.phone:hover img {
    transform: scale(1.05);
}
a.phone:hover > h5.name-product {
    color: rgb(117, 117, 197);
}
.name-product {
    margin-top: 20px;
    font-size: 95%;
    color: #222;
}

a.phone .price {
    font-size: 85%;
    color: #bf081f;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.old-price {
    color: #222;
    margin-left: 10px;
    font-size: 80%;
    font-weight: 500;
}
.raiting-status {
    display: flex;
    align-items: center;
    justify-content: center;
}
.raiting {
    background-image: url("../img/raiting5sao.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-top: 5px;
    height: 20px;
    width: 70px;
}
.num-raiting {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}
.view-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.view-product .price {
    font-size: 15px;
    color: #bf081f;
    font-weight: bold;
    margin-top: 20px;
}
.view-product img {
    width: 200px;
    height: 240px;
    margin: 0 auto;
}
.km {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.km:not(h3) {
    font-size: 14px;
}
.km,
.service,
.tskt {
    padding: 10px 15px 30px 15px;
}
.km h3,
.tskt h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.product-detail-name {
    font-size: 140%;
    color: rgb(117, 117, 197);
    font-weight: bold;
    display: block;
}
.line-down {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100vw;
    border-bottom: 1px solid #ddd;
}
.buy-it span {
    font-size: 13px;
}
.buy-it {
    padding: 5px 0px;
    background-color: tomato;
    color: #ddd;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.buy-it:hover {
    background-color: #fa3e42;
    transition: all 0.3s;
}
.buy-it :first-child {
    font-size: 20px;
}
.service {
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 20px;
}
.service h5 {
    font-style: italic;
    font-size: 15px;
}
.service div {
    margin-bottom: 3px;
}
.product-detail {
    background-color: #fff;
    padding: 20px 30px;
}

.tskt {
    border: 1px solid #ccc;
    padding: 10px 15px 5px 15px;
}
/*FOOTER*/
.list-info {
    display: flex !important;
    padding: 20px 0px 50px 0px;
}

.footer {
    background-color: #232a34;
    padding: 10px;
    color: #ddd;
}
.list-detail {
    list-style: none;
    padding: 0;
}
.list-detail > li > a {
    text-decoration: none;
    color: #aaa;
    font-size: 13px;
}
.list-detail > li > a:hover {
    color: #f0f035;
}
.list-detail > li {
    padding-right: 5px;
    padding-bottom: 3px;
}
.item-footer {
    width: 20%;
}
.item-footer p {
    font-weight: bold;
    font-size: 90%;
}
.icon-pay {
    background-image: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/49b5753902db445292818641f17183b0.png");
}
.list-icon-pay > li {
    display: inline-block;
    padding: 0px 10px 15px 0px;
}
.visa-icon {
    background-size: 1390.909090909091% 1194.4444444444443%;
    background-position: 73.52112676056338% 5.0761421319796955%;
    width: 55px;
    height: 18px;
}
.master-card-icon {
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 44.50704225352113% 5.376344086021505%;
    width: 55px;
    height: 29px;
}
.jcb-icon {
    background-size: 1390.909090909091% 934.7826086956521%;
    background-position: 37.183098591549296% 30.729166666666668%;
    width: 55px;
    height: 23px;
}

.amex-icon {
    background-size: 1530% 977.2727272727273%;
    background-position: 11.188811188811188% 5.181347150259067%;
    width: 55px;
    height: 24px;
}
.code-icon {
    background-size: 1530% 741.3793103448276%;
    background-position: 79.3006993006993% 25.806451612903224%;
    width: 50px;
    height: 29px;
}

.installment-icon {
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 79.85915492957747% 52.1505376344086%;
    width: 55px;
    height: 24px;
}
.airpay-icon {
    width: 23px;
    height: 29px;
    background-size: 1912.5% 413.46153846153845%;
    background-position: 1.3793103448275863% 6.134969325153374%;
    width: 23px;
    height: 29px;
}
.fa-facebook {
    margin-right: 10px;
}

.fa-instagram {
    margin-right: 10px;
}
.fa-linkedin {
    margin-right: 10px;
}
.fa-twitter-square {
    margin-right: 10px;
}

.list-icon-transport > li {
    display: inline-block;
    padding: 0px 5px 5px 0px;
}
.ghn-icon {
    width: 55px;
    height: 29px;
    background-size: 1390.909090909091% 741.3793103448276%;
    background-position: 8.732394366197184% 54.83870967741935%;
}
.viettel-icon {
    width: 55px;
    height: 40px;
    background-size: 597.65625% 167.96875%;
    background-position: 65.77708006279435% 100%;
}
.vnpost-icon {
    width: 55px;
    height: 27px;
    background-size: 1390.909090909091% 796.2962962962963%;
    background-position: 100% 5.319148936170213%;
}
.jandt-icon {
    width: 55px;
    height: 16px;
    background-size: 1390.909090909091% 1343.75%;
    background-position: 84.08450704225352% 5.025125628140704%;
}
.nowship-icon {
    width: 38px;
    height: 32px;
    background-size: 956.25% 268.75%;
    background-position: 46.13138686131387% 77.77777777777777%;
}
.shoppe-icon {
    width: 55px;
    height: 10px;
    background-size: 689.1891891891892% 1194.4444444444443%;
    background-position: 59.78593272171254% 5.0761421319796955%;
}
.bestexpress-icon {
    width: 55px;
    height: 30px;
    background-size: 1062.5% 716.6666666666666%;
    background-position: 10.1010101010101% 28.10810810810811%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    /* padding: 50px 40px; */
    width: 60px;
    height: 40px;
    background-color: #444;
    border-radius: 5px;
    background-size: 40%;
}
.cart-detail {
    background-color: #fff !important;
    padding: 0px 10px;
    font-size: 15px;
}
.cart-detail .table {
    background-color: #fff !important;
}
.cart-detail .table th {
    color: #ccc;
}
.cart-detail-bill {
    background-color: #fff !important;
    padding: 0px 10px;
    font-size: 15px;
}
.cart-detail-bill .table {
    background-color: #fff !important;
}
.cart-detail-bill .table th {
    color: #999;
}
.view-cart {
    display: flex;
    justify-content: flex-end;
}

.number-of-product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.number-of-product > span {
}
.fa-plus-square,
.fa-minus-square {
    cursor: pointer;
    color: #8950fc;
    font-size: 18px;
}
.action-Icon-Delete {
    color: #dc3545;
    cursor: pointer;
    font-size: 140%;
    margin-left: 30%;
}
.Status1 {
    cursor: not-allowed;
}
/*BILL*/
.pay-title {
    font-size: 18px;
    color: #ee4d2d;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.address {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.address > span {
    color: #ee4d2d;
    font-size: 17px;
    font-weight: 600;
}
.address-detail {
    margin-top: 12px;
    display: flex;
}
.location {
    flex-grow: 1;
}
.address-detail .name-phone {
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}
.address-default {
    color: #ccc;
    margin-right: 20px;
}
.address-detail > a {
    text-decoration: none;
}
.item-in-cart {
    padding-left: 0px;
    padding-right: 0px;
}
.pay-method {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.pay-method p {
    padding: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
    font-weight: 500;
}
.pay-method span {
    font-size: 14px;
    color: #8950fc;
    font-weight: bold;
}
.transport {
}
.transport-title {
    color: #00bfa5;
}
.transporter p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
.transporter span {
    font-size: 12px;
}
.transport-price span {
    font-size: 15px;
}
.done-bill {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: flex-start;
    font-size: 16px;
}
.over-done-bill {
    display: flex;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.over-done-bill > div:not(.done-bill) {
    flex-grow: 1;
}
.total-bill,
.fee,
.all-total {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}
.total-bill p,
.fee p,
.all-total p {
    margin-bottom: 0;
    color: #999;
    flex-grow: 1;
}
.all-total span {
    color: #ee4d2d;
    font-weight: bold;
}
.pay-btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.pay-btn a {
    border: none;
    padding: 7px 30px;
    background-color: #ee4d2d;
    color: #fff;
    margin: 10px 0px;
    text-decoration: none;
}
/*PERSONAL INFO*/
.form-item {
    display: flex;
    margin-bottom: 20px;
}
.form-item label {
    flex-basis: 30%;
    color: rgba(85, 85, 85, 0.8);
}
.form-item input {
}
.personal-info {
    padding: 20px 40px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 70px;
    width: 60%;
    box-shadow: 1px 1px 10px 2px rgb(80, 79, 151);
}
.personal-info form {
    width: 70%;
    margin: 30px auto;
}
.btn-info {
    padding: 5px 30px;
    background-color: #e2492b;
    border: none;
    margin-top: 30px;
}
.btn-buy {
    padding: 5px 30px;
    background-color: #e2492b;
    color: #fff;
}
.btn-info:hover {
    background-color: rgb(80, 79, 151);
}
.personal-info p {
    font-size: 14px;
    color: #57b72f;
    width: 70%;
    margin: 0 auto;
}

/*BILL-DONE*/
.ordered {
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px 2px rgb(80, 79, 151);
}
.ordered h5 {
    margin-bottom: 30px;
    font-size: 18px;
}

.wait-confirm {
    background-color: #3f51b5;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
}
.canceled {
    background-color: #d9534f;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
}
.shipping {
    background-color: #ffc107;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}
.ship-done {
    background-color: #28a745;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
}
.ordered .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.code-bill {
    font-size: 18px;
    font-weight: 500;
    color: #3b8d99;
}
.date-total p {
    margin: 0;
    font-size: 14px;
    padding: 2px 0px;
}
.date-total {
    display: flex;
    justify-content: space-around;
    background-color: #ddd;
    padding: 5px 0px;
}
.ordered td {
    font-size: 16px;
    color: #666;
}
.date-total .total {
    font-size: 18px;
    color: #ee4d2d;
    margin-left: 10px;
}
.title-ordered {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: rgb(117, 117, 197);
}
.all-ordered {
    min-height: 450px;
}
.notif-bill {
    padding: 30px 30px;
    font-size: 16px;
    color: #aaa;
    background-color: #fff;
}
.confirm {
    padding: 30px 30px;
    background-color: #eee;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 40%;
    box-shadow: 1px 1px 10px 2px;
    display: none;
    z-index: 2;
}
.background::after {
    content: " ";
    display: block;
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(31, 34, 46, 0.8);
    z-index: 1;
}
