ol,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#wrapper {
    /* background-image: linear-gradient(to right, #f2994a, #f2c94c); */
    background-image: url("https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

#nav {
    display: flex;
    /* justify-content: left;
    align-items: center;
    list-style: none;
    flex-basis: 80%; */
}
.logo {
    max-height: 55px;
    margin-left: 70px;
}

.search-navbar {
    flex-basis: 70%;
    padding-left: 30px;
}

.form-search > input {
    padding: 8px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 50%;
}
.form-search:focus {
    border: none;
}
.form-search > button {
    padding: 8px 20px;
    border: none;
    background-color: #57b72f;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* .input-search:focus {
    box-shadow: none;
    border: none;
} */

.products-in-cart img {
    max-height: 200px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navbar {
    display: flex;
    background-color: #232a34;
    align-items: center;
}

.cart {
    font-size: 110%;
    position: relative;
}
.cart > a {
    text-decoration: none;
    color: #fff;
}

.cart:hover .products-in-cart {
    display: block;
}
.products-in-cart::before {
    content: " ";
    display: block;
    position: absolute;
    right: 8px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
}
.products-in-cart {
    position: absolute;
    top: 150%;
    right: -10px;
    display: none;
    width: 400px;
    height: auto;
    background-color: #eee;
    /* box-shadow: 1px 1px 1px 1px #ee4e2e; */
}

.products-in-cart .products {
    list-style: none;
    padding: 10px 20px;
}
.products-in-cart .products > p {
    color: #aaa;
}
.products-in-cart .products .product {
    display: flex;
    margin-bottom: 20px;
}
.products-in-cart .products .product > img {
    vertical-align: top;
}
.products-in-cart .products .product > .name-phone {
    padding-left: 5px;
    flex-grow: 1;
    color: #222;
}
.products-in-cart .products .product .price-phone {
    font-size: 70%;
    color: #ee4e2e;
}
.in-out {
    padding-right: 20px;
    padding-left: 30px;
}
.in-out > a {
    color: #e9b7b7;
    text-decoration: none;
    display: block;
    border: 1px solid #fff;
    padding: 7px 8px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.logged {
    padding-left: 10px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.name {
    margin-left: 5px;
    color: #e8e23a;
}

.logged:hover .account {
    display: block;
}
.account::before {
    content: " ";
    display: block;
    position: absolute;
    right: 8px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eee;
}
.account {
    display: none;
    position: absolute;
    bottom: -100px;
    right: 0;
    background-color: #eee;
    /* padding: 10px 0px; */
    width: 160px;
}
.account > div > a {
    text-decoration: none;
    color: #333;
    padding: 5px 20px;
    display: block;
    font-weight: 300;
}
.account > div:hover a {
    background-color: #fff;
    color: green;
}

.signout {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: -5px;
    top: -5px;
}

.banner img {
    width: 355px;
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 50px;
}

.mt-2 {
    margin-top: 20px;
}
.mr-5 {
    margin-right: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 10px;
}
.mt-3 {
    margin-top: 3px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #ddd;
    padding: 10px;
}

.social-media {
    list-style: none;
    display: flex;
}

.social-media li {
    padding: 20px 10px 0px 0px;
}

.social-media li a {
    color: rgb(21, 21, 49);
}

.ml-2 {
    margin-left: 3px;
}

.infomation {
    list-style: none;
}
.infomation li {
    padding: 5px;
}
.infomation li a {
    padding: 5px;
    text-decoration: none;
}

.icon {
    display: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 150%;
    border: 1px solid #eee;
    padding: 2px 10px;
    border-radius: 5px;
}

.list-item {
    background-color: #eee;
    padding: 20px;
}

.bill {
    background-color: #eee;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.total {
    margin-right: 20px;
}
.buy-it span {
    font-size: 13px;
}

.buy > a {
    text-decoration: none;
}
.buy-it {
    padding: 5px 0px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.buy-it button {
    border: none;
    background-color: tomato;
    font-size: 20px;
}
.service {
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 5px 10px;
}
.service h5 {
    font-style: italic;
}
.service div {
    margin-bottom: 3px;
}
/*LOGIN , REGISTER */
.form form {
    width: 30%;
    /* margin: 50px auto; */
    padding: 20px 50px;
    background-color: #eee;
    border-radius: 5px;
}
.form input {
    border: none;
    margin-left: 3px;
}
.form textarea {
    border: none;
    resize: none;
}
.form {
    background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form legend {
    text-align: center;
}
.form i {
    margin-right: 10px;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register,
.redirectLogin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.register a,
.redirectLogin a {
    color: rgb(158, 27, 27);
    margin-left: 5px;
}
.login,
.btnRegister {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color: wheat;
    border-radius: 20px;
    margin-top: 50px;
}
/*PRODUCTS*/
a.thumbnail {
    text-decoration: none;
    height: 250px;
}

a.thumbnail:hover img {
    transform: scale(1.05);
}
a.thumbnail:hover .caption h5 {
    color: rgb(117, 117, 197);
}

a.thumbnail img {
    height: 150px;
}
.name-product {
    padding-left: 15px;
    padding-bottom: 10px;
}
.price {
    text-align: center;
    font-size: 120%;
}
.product-image img {
    width: 80px;
    height: 80px;
}
.panel-title {
    font-weight: bold;
}

/*FOOTER*/

.list-info {
    display: flex !important;
}

.item-footer {
    width: 20%;
}
