@media only screen and (max-width: 600px) {
    .new-navbar #logo {
        margin-left: -20px;
        flex-grow: 1;
    }
    .new-navbar > .search-navbar {
        display: none;
    }
    .products-in-cart {
        top: 125%;
        left: -180px;
    }
    .footer > div.list-info {
        display: inline-block;
    }
    .footer > div.list-info > .item-footer {
        margin-bottom: 20px;
        margin-left: 10px;
        width: 30%;
        float: left;
    }
}
@media only screen and (max-width: 1200px) {
    #list-banner {
        display: none;
    }
}
