* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}
#wrapper {
    position: relative;
}
ol,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
}

#nav {
    display: flex;
    justify-content: initial;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}
#navRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}
.logo {
    margin-left: 30px;
    width: 60px;
    border-radius: 50%;
    height: 50px;
    margin-right: 20px;
}

#nav li,
#navRight li {
    /* padding: 10px 20px; */
    padding-left: 20px;
    cursor: pointer;
}
#nav li a {
    text-decoration: none;
    color: #eee;
    font-size: medium;
}

.navbar {
    background-color: #36459b;
    align-items: center;
    display: flex;
    margin-bottom: 0 !important;
    border-radius: 0;
}
.icon {
    color: rgba(255, 255, 255, 0.5);
}

#control {
    padding-left: 170px !important;
}

.section {
    margin-top: 50px !important;
    background-color: #eee;
}
.iconUser {
    color: rgba(255, 255, 255, 0.5);
    font-size: 120%;
}
.sidebar {
    height: 100%;
    background-color: #fdfdfd;
    position: fixed;
    min-width: 260px;
}

.main {
    /* background-color: #eee; */
}
/* .container-fluid {
    padding: 0;
    margin: 0;
} */
.core {
}
.sidebar ul {
    list-style: none;
    padding: 0;
    padding-left: 5px;
}
.sidebar ul p {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 900;
    color: #424242;
    font-size: 85%;
}
.sidebar ul li {
    padding: 10px 35px;
}
.sidebar ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #424242;
}
.sidebar ul li:hover {
    background-color: #444;
}
.sidebar ul li:hover a {
    color: #fcfcfc;
}
.sidebar ul li a span {
    margin-left: 5px;
    font-size: 98%;
}
.active {
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
}
.title {
    padding: 20px 30px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
.main {
    /* background-color: #eee; */
    min-height: 1024px;
    /* background-color: #eee; */
}
/* #main-board {
    padding-left: 0;
    padding-right: 0;
} */
.p-left-0 {
    padding: 0;
}

/* below dashboard*/
.price {
    font-size: 18px;
    color: #ee4d2d;
    font-weight: bold;
}
.btn-success {
    background-color: #8950fc !important;
}
.table-data {
    background-color: #fcfcfc;
    padding: 40px 30px !important;
}
.table-data table th {
    color: #999;
}
.table-data table td {
    font-size: 85%;
}
.wait-confirm {
    background-color: #3f51b5;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
}
.not-bill-canceled {
    font-size: 12px !important;
    font-weight: bold;
    color: #28a745;
}
.confirm {
    padding: 30px 30px;
    background-color: #eee;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 32%;
    box-shadow: 1px 1px 10px 2px;
    display: none;
    z-index: 2;
}
.canceled {
    background-color: #d9534f;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
}
.shipping {
    background-color: #ffc107;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
}
.ship-done {
    background-color: #28a745;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
}
.bill-confirm {
    background-color: #fcfcfc;
    padding: 20px 30px;
}
.bill-confirm h5 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bill-confirm > table th {
    color: #999;
}
.bill-confirm > table td {
    font-size: 85%;
}
.view-up {
    padding-top: 30px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    background-color: #fcfcfc;
    box-shadow: 1px 1px 1px 1px #23527c;
}
.icon-view {
    font-size: 300%;
    color: #f0ad4e;
}
.view-up div p {
    font-size: 14px;
    font-weight: bold;
}
.view-up div {
    text-align: center;
}
.view-detail {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.view-detail span {
    font-size: 85%;
}
.view-total > a:hover .view-detail > span {
    border-bottom: 1px solid #aaa;
}
.view-total > a:hover .view-up > div > .total > span {
    background-color: #23527c;
}

.bill {
    color: #c75050;
}

.revenue {
    color: #6bc750;
}
.follow {
    color: #c7c350;
}
.new-account {
    color: #6f50c7;
}
.label-purple {
    padding: 4px 10px;
    background-color: #6f50c7;
    color: white;
    font-size: 80%;
    border-radius: 5px;
}
.label-warn {
    padding: 4px 10px;
    background-color: #c7c350;
    color: white;
    font-size: 80%;
    border-radius: 5px;
}
.active > a > span {
    color: #d679db;
    font-weight: bold;
}
/* .active > a ::after {
    content: " ";
    display: block;
    width: 90%;
    border-bottom: 2px solid #d679db;
} */
/*MANAGER CUSTOMER*/
.mr-3 {
    margin-right: 5px;
}
.action-Icon-Update {
    color: #ffc107;
    cursor: pointer;
}
.action-Icon-Delete {
    color: #dc3545;
    cursor: pointer;
}
.action-Icon-Detail {
    color: #0d6efd;
    cursor: pointer;
}
.add-Icon {
    margin-bottom: 10px;
}
.add {
    display: flex;
    justify-content: flex-end;
}

/*GOODS*/
/* .goods {
    padding: 0 20px 0 10px;
} */
/* .goods table {
    font-size: 13px !important;
} */
.add-new-product {
    display: none;
}
.add-product {
    font-size: 70%;
    margin-left: 30px;
    cursor: pointer;
    padding: 3px 5px;
    background-color: #8950fc;
    color: #fcfcfc;
}
#product > input[name="MSHH[]"] {
    width: 62%;
}
#product > input[name="Gia[]"] {
    width: 20%;
}
#product > input[name="SoLuong[]"] {
    width: 10%;
}
.goods table td {
    padding: 3px;
}
.goods table th {
    padding: 3px;
    text-align: center;
}
.product-image img {
    width: 50px;
    height: 60px;
}
.mt-3 {
    margin-top: 30px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.info-detail-bill {
    font-size: 14px;
}
.formAdd,
.view-detail-Bill {
    position: absolute;
    top: 4%;
    left: 2%;
    width: 80%;
    background-color: #fcfcfc;
    padding: 20px 30px;
    display: none;
    z-index: 2;
    min-width: 50%;
}
.w-50 {
    width: 50%;
}
.background::after {
    content: " ";
    display: block;
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 34, 46, 0.8);
    z-index: 1;
}
.add-goods-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.formAdd form {
    margin-top: 20px;
}
.panel-title,
#bill-code {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid #8950fc;
}
.icon-close {
    font-size: 150%;
    color: #ff002f;
    cursor: pointer;
}
.remove-product-icon {
    color: #ff002f;
    cursor: pointer;
    margin-left: 10px;
}
.statistical {
    background-color: #fcfcfc;
    padding: 20px 30px;
}
.statistical h5 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.login-admin {
    height: 100vh;
    background-color: #eee;
    /* background-image: url("https://image.freepik.com/free-photo/distribution-light-signal-from-diode-towards-bunch-optical-fibers-3d-illustration_250994-2130.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.login-admin form {
    width: 30%;
    min-width: 300px;
    padding: 0px 50px;
    background-color: #fcfcfc;
    border-radius: 5px;
    margin: 120px auto;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 2px rgb(80, 79, 151);
}

.login-admin form div {
    display: flex;
    align-items: center;
}
.loginBtn {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    color: wheat;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.login-admin form h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.info-admin {
    position: absolute;
    min-width: 200px;
    left: -155px;
    top: 35px;
    background-color: #fcfcfc;
    padding: 0px 20px;
    padding-top: 10px;
    min-height: 100px;
    flex-direction: column;
    box-shadow: 1px 1px 10px 2px rgb(80, 79, 151);
    display: none;
    text-align: center;
}
.user-info {
    position: relative;
}
.info-admin img {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.info-admin a {
    text-decoration: none;
    border-top: 1px solid #ddd;
    display: block;
    margin-top: 10px;
    padding: 10px 0px;
}
.info-admin span {
    font-size: 14px;
    font-weight: bold;
}
.triangle {
    position: absolute;
    right: 6px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fcfcfc;
}
